.history-container{
	h2{
		margin: 0;
		font-family: $sf-regular;
		font-weight: normal;
		font-size: 16px;
	}

	.head-area{
		height: 64px;
		position: relative;
		padding: 22px 25px;
	}

	.table.entries{
		top: 98px;
		bottom: 0;
	}

	.tab-group{
		position: absolute;
		right: 25px;
		top: 22px;
	}
}
